@model VideoPlaylistViewModel

@{
    this.ViewData["Title"] = "My Playlist";
}

<h2 class="text-center">@this.ViewData["Title"]</h2>

<hr>

@foreach (var video in Model.Playlist)
{
    <div class="card mb-3 offset-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <a asp-controller="Videos" asp-action="VideoById" asp-route-id="@video.Id">
                    <img src="@video.VideoImageUrl" class="img-fluid rounded-start" style="width:190px; height:125px">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@video.Title</h5>
                    <p class="card-text"><small class="text-muted">@video.CreatedOn</small></p>
                </div>
            </div>
        </div>
    </div>
}

<hr>