@model VideoByIdViewModel

@{
    this.ViewData["Title"] = $"{Model.Title}";
    string path = "https://www.youtube.com/embed/" + Model.EmbeddedCode;
}

<div class="row">

    @*Video palyer section*@
    <div class="col-8">
        <iframe width="730" height="430" src="@path" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>@Model.Title</h3>
        <div class="row">
            <h5 class="ml-3">@Model.ViewsCount views</h5> <h5 class="offset-6">@Model.CreatedOn</h5>
        </div>
        <hr>
        <div class="row ml-0">
            <img src="@Model.AccountPictureUrl" style="width: 45px; height: 32px;" class="rounded-circle mr-2" /> @Model.UserName
            <p class="offset-6">
                @*Voting section*@
                Like:
                <a href="#" onclick="sendVote(@Model.Id, true)">
                    <i class="far fa-thumbs-up ml-1"; id="likesCount">@Model.LikesCount</i>
                </a>
                Dislike:
                <a href="#" onclick="sendVote(@Model.Id, false)">
                    <i class="far fa-thumbs-down ml-1" ; id="dislikesCount">@Model.DislikesCount</i>
                </a>
            </p>
        </div>
        <p class="mt-2">@Model.Description</p>
        <hr>

        @*Create comment section*@
        <form asp-controller="Comments" asp-action="SaveComment" method="post">
            <div class="form-group">
                <input asp-for="CreateCommentInputModel.VideoId" hidden value="@Model.Id" />
                <input asp-for="CreateCommentInputModel.ApplicationUserId" hidden value="@Model.CurrentUserId" />
                <label asp-for="CreateCommentInputModel.Content"></label>
                <textarea asp-for="CreateCommentInputModel.Content" class="form-control"></textarea>
                <span asp-validation-for="CreateCommentInputModel.Content" class="text-danger" />
                <div class="text-center">
                    <button type="submit" formmethod="post" class="btn btn-success mt-2">Comment</button>
                </div>
            </div>
        </form>

        <h3 class="text-center">Comments:</h3>
        @if (Model.Comments.Count() == 0)
        {
            <h4 class="text-warning text-center mt-5">No Comments :)</h4>
        }

        @*Display comments section*@
        @foreach (var comment in Model.Comments)
        {
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <img src="@comment.AccountPictureUrl" style="width: 45px; height: 32px;" class="rounded-circle mr-2" />
                        @comment.UserName
                        <div class="offset-5">
                            @comment.CreatedOn
                            <a class="btn btn-warning ml-4" id="reply-button">Reply</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text"><i class="fas fa-comment mr-2"></i>@comment.Content</p>

                    @*Replies popup form*@
                    <form asp-controller="Comments" asp-action="SaveReply" method="post" class="d-none" id="reply-form">
                        <div class="form-group">
                            <input asp-for="CreateReplyInputModel.VideoId" hidden value="@Model.Id" />
                            <input asp-for="CreateReplyInputModel.CommentId" hidden value="@comment.Id" />
                            <label asp-for="CreateReplyInputModel.Content"></label>
                            <textarea asp-for="CreateReplyInputModel.Content" class="form-control"></textarea>
                            <span asp-validation-for="CreateReplyInputModel.Content" class="text-danger" />
                            <div class="text-center">
                                <button type="submit" formmethod="post" class="btn btn-success mt-2" id="save-replyButton">Save reply</button>
                            </div>
                        </div>
                    </form>

                    @*Display replies section*@
                    @foreach (var reply in comment.Replies)
                    {
                        <hr />
                        <p class="offset-6"><i class="fas fa-reply mr-2"></i>Reply</p>
                        <p class="offset-6">@reply.Content</p>
                    }
                </div>
            </div>
        }

    </div>

    @*Video playlist section*@
    <div class="col-4">
        @foreach (var videoInPlaylist in Model.PlayListVideos)
        {
            <div class="card offset-2 mt-1" style="width: 18rem;">
                <a asp-controller="Videos" asp-action="VideoById" asp-route-id="@videoInPlaylist.Id">
                    <img src="@videoInPlaylist.VideoImageUrl" style="width:287px; height:175px;" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@videoInPlaylist.Title</h5>
                    <p class="card-text">@videoInPlaylist.ViewsCount views</p>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        $('#reply-button').on('click', ev => {
            $('#reply-form').removeClass('d-none');
        })
        $('#save-replyButton').on('click', ev => {
            $('#reply-form').addClass('d-none')
        })

        function sendVote(videoId, isUpVote) {
            var json = { videoId: videoId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#likesCount").html(data.likesCount);
                    $("#dislikesCount").html(data.dislikesCount);
                }
            });
        }
    </script>
}