@model VideoByIdViewModel

@{
    this.ViewData["Title"] = $"{Model.Title}";
    string path = "https://www.youtube.com/embed/" + Model.EmbeddedCode;
}

<div class="col-8">
    <iframe width="700" height="400" src="@path" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h3>@Model.Title</h3>
    <div class="row">
        <h5 class="ml-3">@Model.ViewsCount views</h5> <h5 class="offset-7">@Model.CreatedOn</h5>
    </div>
    <hr>
    <div class="row ml-0">
        <img src="@Model.AccountPictureUrl" style="width: 45px; height: 32px;" class="rounded-circle mr-2" /> @Model.UserName
        <p class="offset-7">
            Like:<i class="far fa-thumbs-up ml-1"> 0</i>
            Dislike:<i class="far fa-thumbs-down ml-1"> 0</i>
        </p>
    </div>
    <p class="mt-2">@Model.Description</p>
    <hr>
    <h3 class="offset-5">Comments:</h3>
</div>